name: Build docker image

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

jobs:
  build:
    name: Build docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: docker build . -t ghcr.io/$GITHUB_REPOSITORY:latest
      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push
        run: docker push ghcr.io/$GITHUB_REPOSITORY:latest
      - name: Cleanup
        run: docker rmi ghcr.io/$GITHUB_REPOSITORY:latest
      - name: Prune Docker
        run: docker system prune -a -f

  deploy:
    name: SSH deployment
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOSTNAME }}
          username: stitch
          key: ${{ secrets.SSH_KEY }}
          port: 2221
          script_path: /home/stitch/lns-sv/update.sh
